* {
    font-family: Arial, Helvetica, 'Microsoft YaHei', '微软雅黑', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    border: none;
}

input {
    outline: 0;
}
