.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 0 20px 0;
    text-align: center;
}

form {
    padding: 20px 0;
    z-index: 1;
}

form input {

    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.45);
    height: 46px;
    width: 254px;
    border-radius: 6px;
    padding: 0 14px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 17px;
    color: #495060;
    transition-duration: 0.25s;
}

form input:hover {
    background-color: white;
    width: 300px;
    color: #1c2438;
    font-size: 20px;
}
